<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whatsapp</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>mini whatsapp</h1>
    <form action="/chats/new" method="get">
      <button>new Chat</button>
    </form>
    <% for(let chat of chats){%>
    <div class="chat">
      <p>From : <%= chat.from %></p>
      <hr />
      <div class="msg">
        <p>Message : <%= chat.msg %></p>
        <form action="/chats/<%= chat._id %>/edit" method="">
          <button>edit</button>
        </form>
        <form action="/chats/<%= chat._id %>?_method=DELETE" method="POST">
          <button>delete</button>
        </form>
      </div>
      <hr />
      <p>Received by : <%= chat.to%></p>
      <p><%= chat.created_at.toString().split(" ")[4] %></p>
      <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
    </div>
    <%} %>
  </body>
</html>
